<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>


    <script src="https://kit.fontawesome.com/a46d75ba7a.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.4.1.min.js" defer></script>
    <script src="js/bootstrap.js" defer></script>
    <script src="js/script.js" defer></script>


</head>
<body>

























<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<script src="https://kit.fontawesome.com/a46d75ba7a.js"></script>

</body>
</html>





<!-- étape pour envoyer ton site sur github a partir de gitbash
1)ouvrir gitbash
2)écrire : cd
3)écrire : cd Mes \ documents/                 ( tu entre dans le fichier ou tu veux dropper ton site dans ce cas c Mes documents)
4)écrire : cd GitHub/                           ( tu entre dans ton fichier Github)
5)écrire : cd aDudeFromDunwall                 ( tu entre dans le fichier aDudeFromDunwall)
6)écrire : git add DesignWeb/                  (DesignWeb est le nom du fichier vers lequel tu veux l'envoyer)
7)écrire : git commit -m "le message qui résume ce que tu envoie genre: site web sur les fruits ou modifications des images"
8)écrire : git push

ps: utilise tab pour raccourcir l'écriture
fini-->





<!--étape pour comment se rendre sur un site que tu a publier sur github
 1) cliquer sur le truc qui s'appelle site dans la barre des favoris
 2) garder l'url
 3)Aller a partir de GitHub sur l'index de ton site (toujours sur github)
 4)cliquer sur copy path
 5)prendre l'url du #2 et rajouter le path du #4 après
 6)fini
 -->